.homeTitle{
	text-align: center;
	padding:  40px 0 0;
}
.calendar{
	text-align: center;
	padding: 20px 0;
	.day, .dayTitle{
		width: 14%;
		display: inline-block;
	}
	.day{
		.card {
			text-align: left;
			padding: 5px;
			&.outRange {
				color: grey;
				background: #f5f4f4;
				.ant-card-head-title{
					color: grey;
				}
			}
			.ant-card-body{
				height: 90px;
				padding: 2px 0px;
				overflow-y: scroll;
			}
		}
	}
	.dayTitle {
		padding: 10px;
		border: 1px solid #e8e8e8;
		background: #1890ff;
		color: #fafafa;
	}
	.monthTitle{
		.ant-typography {
			display: inline;
			padding: 0 30px;
		}
		.previewsMonth, .nextMonth {
			cursor: pointer;
			&:hover {
				color: #1890ff;
			}
			
		}
	}
}
.reminder{
	border: 1px solid #e8e8e8;
	padding: 1px 4px;
	margin-top: 2px;
}